
/*Formats trash button (Not used as far as I can tell, leaving because of default)*/
.trash {
    color:rgb(209, 91, 71);
}

/*Removes bullets from the list*/
.removeBullets {
    list-style-type: none;
}

/*Formats menu button*/
.buttonLrg {
    color: #7a0019;
    padding: 10px 16px;
    font-size: 150%;
    line-height: 1.33;
    border-radius: 2px;
    background-color: #ffcc33;
    font-weight: bold;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif, monospace;
    border-width: 0px;
}

/*Formats menu buttons on hover*/
.buttonLrg:hover {
    color: #ffcc33;
    background-color: #7a0019;
}

/*Formats the active menu button*/
.buttonLrg ul li:active {
    color: #ffcc33;
    background-color: #7a0019;
}

/*Keeps the current menu item highlighted*/
.buttonLrg:focus {
    color: #ffcc33;
    background-color: #7a0019;
}

/*Formats the system information title*/
#title {
    color: #7a0019;
    font-size: 30px;
}