<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row container-fluid">

    <div class="col-lg-3">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-default buttonLrg active-{{toggles.statsToggle}}" ng-click="toggleStats()">System Information</button>
            <button type="button" class="btn btn-default buttonLrg active-{{toggles.subFormEditorToggle}}" ng-click="toggleSubEditor()"> Edit the Submission Form</button>
            <button type="button" class="btn btn-default buttonLrg active-{{toggles.statusEditToggle}}" ng-click="toggleStatusEdit()">Edit Status Options</button>
            <button type="button" class="btn btn-default buttonLrg active-{{toggles.userEditToggle}}" ng-click="toggleUserEdit()">Edit Users</button>
            <button type="button" class="btn btn-default buttonLrg active-{{toggles.groupChangeToggle}}" ng-click="toggleGroupChange()">Edit Review Groups</button>
            <button type="button" class="btn btn-default buttonLrg active-{{toggles.abstractBookToggle}}" ng-click="toggleAbstractBook()">Abstract Book Preview</button>
        </div>
    </div>

    <div class="col-lg-8">
        <div ng-show="toggles.subFormEditorToggle">
            <div ng-include="'app/subformeditor/subformeditor.html'"></div>
        </div>

        <div ng-show="toggles.userEditToggle">
            <div ng-include="'app/roleChange/roleChange.html'"></div>
        </div>

        <div ng-show="toggles.statusEditToggle">
            <div ng-include="'app/statuseditor/statuseditor.html'"></div>
        </div>

        <div ng-show="toggles.abstractBookToggle">
            <div ng-include="'app/abstractBook/abstractBook.html'"></div>
        </div>

        <div ng-show="toggles.groupChangeToggle">
          <div ng-include="'app/groupChange/groupChange.html'"></div>
        </div>

        <div ng-show="toggles.statsToggle">
            <ul class="list-group" >
                <li class="list-group-item">
                    <div id= "title">
                        System Information
                        <button class="btn btn-primary" ng-click="getSubmissionData()" title="force data refresh"><span class="glyphicon glyphicon-refresh"></span></button>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4>Current Year Submission Statistics</h4>
                    <p>Total number of primary submissions: {{trackedSubmissions(currentYearSubmissions)}}</p>
                    <p>Total number of submissions stored: {{totalSubmissions(currentYearSubmissions)}}</p>
                    <p>Percentage of stored submissions that are primary submissions: {{precentageTracked(currentYearSubmissions)}}%</p>
                    <p>Number of submissions currently flagged for re-submission: {{resubmitFlags(currentYearSubmissions)}}</p>
                    <hr>
                    <h4>All Submission Statistics</h4>
                    <p>Total number of primary submissions: {{trackedSubmissions(submissions)}}</p>
                    <p>Total number of submissions stored: {{totalSubmissions(submissions)}}</p>
                    <hr>
                    <h4>User Statistics</h4>
                    <p>Total number of registered users: {{totalUsers()}}</p>
                    <p>Total number of Admins: {{totalAdmins()}}</p>
                    <p>Total number of Chairs: {{totalChairs()}}</p>
                    <p>Total number of Reviewers in Group 1: {{totalReviewers(1)}}</p>
                    <p>Total number of Reviewers in Group 2: {{totalReviewers(2)}}</p>
                    <p>Total number of Reviewers in Group 3: {{totalReviewers(3)}}</p>
                    <p>Total number of Reviewers in Group 4: {{totalReviewers(4)}}</p>
                    <p>Total number of basic users (Advisers/Presenters): {{totalBasicUsers()}}</p>
                    <hr>
                    <h4>T-Shirt Statistics</h4>
                    <p>Total number of Small T-Shirts: {{totalShirts("Small")}}</p>
                    <p>Total number of Medium T-Shirts: {{totalShirts("Medium")}}</p>
                    <p>Total number of Large T-Shirts: {{totalShirts("Large")}}</p>
                    <p>Total number of XLarge T-Shirts: {{totalShirts("XLarge")}}</p>
                    <p>Total number of XXLarge T-Shirts: {{totalShirts("XXLarge")}}</p>
                    <p>Total number of XXXLarge T-Shirts: {{totalShirts("XXXLarge")}}</p>
                </li>
            </ul>
        </div>

    </div>

</div>
