/*Color of the trash Icon*/
.trash {
    color:rgb(209, 91, 71);
}

/*Removes bullet points from the list*/
.removeBullets {
    list-style-type: none;
}

/*Formats the update button*/
.buttonRole{
    color: #ffffff;
    padding: 5px 10px;
    font-size: 13px;
    margin-left: 15px;
    border-radius: 6px;
    background: #428BCA;
    border-style: none;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

.buttonRole:hover{
    color: #ffffff;
    background: #3276B1;
}