/*Formats the user information sub box*/
.info{
    font-size: 25px;
    border-color: white;
    color: black;
    /*border: 1px white solid;*/
    margin-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*formats the sub box that contains information inside the T-shirt box*/
.other{
    font-size: 20px;
    border-color: white;
    color: black;
    /*border: 1px white solid;*/
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*Formatting for the text boxes that information is in*/
.FancyBox {
    background-color: papayawhip;
    border-radius: 2px;
    margin: 20px;
    border-width: 2px;
    /*border: 2px solid;*/
}
/**/