/*forces scrollbar on all the time so the navbar doesn't move when changing pages*/
html { overflow-y: scroll; }
 /*unvisited link */
a:link {
    color: #7a0019;
}

 /*visited link */
a:visited {
    color: #7a0019;
}

 /*mouse over link */
a:hover {
    color: #7a0019;

    text-decoration: none;
}

 /*selected link */
a:active {
    color: #7a0019;
}

/*Controls banner text*/
#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/*Controls the banner*/
.hero-unit {
    position: relative;
    margin-top: -20px;
    border-bottom: none;
    padding: 30px 15px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #7a0019;
    font-family: "Times New Roman", Times, monospace;
}

/*Controls the images on the main page*/
.fitImage {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Controls the footer*/
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/*This controls the login/Create submission button*/
.buttonMain {
    padding: 10px 16px;
    font-size: 30px;
    border-radius: 6px;
    background: #ffcc33;
    width: 10em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.buttonMain:hover {
    background: #e5b72d;
}

.nonUMNWarning{
  font-size: 30px;
  text-align: center;
}

.info{
  font-size: 25px;
  border-color: white;
  color: black;
  /*border: 1px white solid;*/
  margin-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.modalTitle{
  text-align:center;
  font-size:30px;
  color:black;
  padding-top:1%;
  padding-bottom:1%;
  margin: 0px;
  background-color: #5bc0de;
}

.modalText{
  margin-left: 2%;
  font-size:20px;
}

/*formats the sub box that contains information inside the T-shirt box*/
.other{
  font-size: 20px;
  border-color: white;
  color: black;
  /*border: 1px white solid;*/
  margin-left: 2%;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*Formatting for the text boxes that information is in*/
.FancyBox {
  background-color: white;
  border-radius: 2px;
  margin: 20px;
  border-width: 2px;
  /*border: 2px solid;*/
}

.setTShirt{
  color: #ffffff;
  padding: 5px 10px;
  margin-top:1%;
  font-size: 20px;
  margin-left: 82%;
  border-radius: 6px;
  background: #428BCA;
  border-style: none;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

.setTShirt:hover{
  color: #ffffff;
  background: #3276B1;
}


/* --------------------------------------------------------------------------------------------------------------------- */

/* The Modal (background) */
.tShirtModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.tShirtmodal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
