<div ng-controller="GroupChangeCtrl" class="container-fluid">
    <ul class="list-group">

      <label>
          Filter submissions by their review groups:
          <br>
          <select ng-model="filterSelection">
            <option ng-repeat="option in filterGroupOptions" ng-value="'{{option}}'">{{option}}</option>
          </select>
      </label>

        <li class="list-group-item" ng-repeat="submission in submissions | filter:filterByGroup">
            <strong>{{submission.title}}</strong>
            <br>

            <span class="text-muted">
                {{submission.presenterInfo.first}} {{submission.presenterInfo.last}}
            </span>
            <br>

            <span>
                Current review group: {{submission.group}}
            </span>

            <div>
                <select ng-model="submission.group" placeholder="" required ng-required>
                    <option value="{{submission.group}}" disabled selected>{{submission.group}}</option>
                    <option ng-repeat="option in reviewGroupOptions" value="{{option}}">{{option}}</option>
                </select>
                <button class="buttonGroup" ng-click="setReviewGroupConfirm(submission)">Update Review Group</button>
            </div>
        </li>
    </ul>
</div>
