/*Formats the update button*/
.buttonGroup{
  color: #ffffff;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 6px;
  background: #428BCA;
  border-style: none;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

.buttonGroup:hover{
  color: #ffffff;
  background: #3276B1;
}
