<div class="container-fluid breakLongWords" ng-controller="SublistCtrl">


    <!-- HTML for list view -->

    <div class="row container-fluid" ng-hide="selection.selected">
        <div class="col-lg-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <input type="text" ng-model="filterData.searchText" placeholder="Search by name">
                    <hr ng-show="isAdmin() || isChair()">

                    <label ng-show="isAdmin() || isChair()">
                        Filter by review group:
                        <br>
                        <select  ng-model="filterData.reviewGroupFilterSelection">
                            <option ng-repeat="option in filterData.reviewGroupFilterOptions" ng-value="'{{option}}'">{{option}}</option>
                        </select>
                    </label>

                    <label ng-show="isAdmin() || isChair() || isReviewerOfAnything()">
                        Filter by feature presentation:
                        <br>
                        <select ng-model="filterData.featurePresentationFilterSelection">
                            <option ng-repeat="option in filterData.featurePresentationFilterOptions" ng-value="'{{option}}'">{{option}}</option>
                        </select>
                    </label>

                    <label ng-show="isAdmin() || isChair() || isReviewerOfAnything()">
                        Filter by flagged for resubmission:
                        <br>
                        <select ng-model="filterData.flaggedForResubmitFilterSelection">
                            <option ng-repeat="option in filterData.flaggedForResubmitFilterOptions" ng-value="'{{option}}'">{{option}}</option>
                        </select>
                    </label>

                    <label ng-show="isAdmin() || isChair() || isReviewerOfAnything()">
                        Filter by pending resubmissions:
                        <br>
                        <select ng-model="filterData.pendingResubmissionsSelection">
                            <option ng-repeat="option in filterData.pendingResubmissionsOptions" ng-value="'{{option}}'">{{option}}</option>
                        </select>
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-lg-9">
            <tabset ng-hide="selection.selected">
                <tab heading="All Submissions" ng-click="showAllSubmissions()"></tab>
                <tab ng-show="isPresenterOnAnything()" heading="Presenter Submissions" ng-click="showMySubmissions()"></tab>
                <tab ng-show="isCoPresenterOnAnything()" heading="CoPresenter Submissions" ng-click="showMyCoSubmissions()"></tab>
                <tab ng-show="isAdviserOfAnything()" heading="Adviser Submissions" ng-click="showMyAdviserSubmissions()"></tab>
                <tab ng-show="isReviewerOfAnything()" heading="Reviewer Submissions" ng-click="showMyReviewerSubmissions()"></tab>
            </tabset>
            <ul class="list-group">
                <li class="list-group-item noTopBorder" id="text">
                    <h2>Submissions </h2>
                    <!--<button type="button" class="btn btn-default" ng-click="filterData.orderByPredicate='timestamp'">Order by timestamp</button>-->
                </li>

                <li class="list-group-item" ng-show="submissions.length < 1">
                    <img class="loadingImage" src="assets/images/hourglass-gif.gif">
                </li>

                <li class="list-group-item" ng-style="statusColorTab(sub.status.strict)" ng-repeat="sub in submissions | filter:hasPermissions | filter:tabFilters | filter:reviewGroupFilter | filter:featurePresentationFilter | filter:flaggedForResubmitFilter | filter:pendingResubmissionsFilter | filter:searchFilter" ng-hide="isResubmission(sub)">
                    <h3 id="text">{{sub.title}}
                        <span ng-show="getResubmission(sub) != null" title="Submission has an unapproved resubmission" style="color: red" class="glyphicon glyphicon-warning-sign"></span>
                        <span ng-show="sub.resubmissionData.resubmitFlag" title="Submission is flagged for resubmission" style="color: darkgoldenrod" class="glyphicon glyphicon-flag"></span>
                    </h3>
                    <button class="buttonL" ng-click="selectItem($index)">Details</button>
                    <strong>Presenter: {{sub.presenterInfo.first}} {{sub.presenterInfo.last}}</strong>
                    <p class="subtext">
                        {{sub.copresenterOneInfo.first | isntEmpty:"CoPresenter(s):":""}} {{sub.copresenterOneInfo.last | isntEmpty:"":""}}{{sub.copresenterTwoInfo.first | isntEmpty:",":""}} {{sub.copresenterTwoInfo.last | isntEmpty:"":""}}
                    </p>
                    <p>
                        Adviser: {{sub.adviserInfo.first}} {{sub.adviserInfo.last}}
                    </p>
                    <p class="subtext">
                        {{sub.coadviserOneInfo.first | isntEmpty:"CoAdviser(s):":""}} {{sub.coadviserOneInfo.last | isntEmpty:"":""}}{{sub.coadviserTwoInfo.first | isntEmpty:",":""}} {{sub.coadviserTwoInfo.last | isntEmpty:"":""}}
                    </p>
                    <p class="subtext">
                        Date of Submission: {{sub.timestamp}}
                    </p>
                    <br>
                </li>
            </ul>
        </div>
    </div>
    </ul>

    <!-- HTML for details view starts here. -->

    <div class="row">
        <div class="col-md-9" >
            <ul class="list-group" ng-show="selection.selected">
                <li class="list-group-item overflowAuto">
                    <button class="btn btn-sm btn-block" ng-click="resetSelection()"><span class="glyphicon glyphicon-chevron-left"></span> Back to Submission List</button>
                    <br>
                    <div ng-show="hasAdminPrivs() || getCurrentUser().role == 'reviewer'">
                            Vote on status
                            <br>
                        <select  ng-model="voteOption">
                            <option selected = 'selected'>
                                {{voteOption}}
                            </option>
                            <option ng-repeat="vote in reviewOptions" ng-value="'{{vote}}'">
                                {{vote}}
                            </option>
                        </select>
                        <button class="btn btn-warning" ng-click="updateReviewVotingConfirm(voteOption)">Submit</button>
                        <br>
                        <div ng-show="hasAdminPrivs()">
                           <button class="btn btn-xs voteDropDown" ng-hide="showVotes" ng-click="showVotes = true">Show Votes <span class="glyphicon glyphicon-chevron-down"></span></button>
                           <button class="btn btn-xs voteDropDown" ng-show="showVotes" ng-click="showVotes = false">Hide Votes <span class="glyphicon glyphicon-chevron-up"></span></button>
                        </div>
                        <br>
                        <div ng-show="hasAdminPrivs() && showVotes">
                        <p><b>Accepted without revisions votes</b>: {{selection.item.reviewVotes.Accepted.length}}</p>
                        <p><b>Minor revisions votes</b>: {{selection.item.reviewVotes.Minor.length}}</p>
                        <p><b>Major revisions votes</b>: {{selection.item.reviewVotes.Major.length}}</p>
                        <p><b>Total Rewrite votes</b>: {{selection.item.reviewVotes.TotalRewrite.length}}</p>
                        </div>
                    </div>
                    <button ng-show="isAdmin()" class="btn btn-md btn-danger" ng-click="deleteSubmissionConfirm(selection.item)"><span class="glyphicon glyphicon-trash"></span></button>

                    <button ng-show="showResubmitButton().show" class="btn btn-md sideMargins moveRight {{showResubmitButton().style}}" ng-click="showResubmitButton().action()">{{showResubmitButton().text}}</button>

                    <div class="btn-group sideMargins moveRight">
                        <button ng-show="(isPrimaryAdviser(selection.item) || hasAdminPrivs()) && !isApproved(selection.item)" class="btn btn-md btn-success  " ng-click="approveSubmissionConfirm(selection.item)">  Give adviser approval  <span class="glyphicon glyphicon-thumbs-up"></span></button>
                        <button ng-show="(isPrimaryAdviser(selection.item) || hasAdminPrivs()) && !isApproved(selection.item) && (selection.item.status.strict != 'Withdrawn')" class="btn btn-md btn-danger " ng-click="rejectSubmissionConfirm(selection.item)">  Reject Submission  <span class="glyphicon glyphicon-thumbs-down"></span></button>
                    </div>
                    <br>

                </li>
                <li class="list-group-item" ng-style="statusColorTab(selection.item.status.strict)">

                    <div class="block alert clickable" ng-style="statusColorBody(selection.item.status.strict)" ng-click="editStatus(selection.item)">
                        <button ng-show="hasAdminPrivs()" class="btn btn-sm btn-warning close"><span class="glyphicon glyphicon-file"></span></button>
                        <b>Status:</b> {{selection.item.status.strict}} <br>
                        <b>Comment:</b> {{selection.item.status.text}}</p>
                    </div>
                    <div class="block alert" ng-show="statusEdit.editing" ng-style="statusColorBody(selection.item.status.strict)">
                        <div class="container-fluid row">
                            <div class="col-md-6">
                                <label>
                                    Select Submission Status <br>
                                    <select ng-model="statusEdit.temp.strict">
                                        <option ng-repeat="status in statusEdit.options" ng-value="{{'status'}}">{{status}}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    Elaborate <br>
                                    <textarea cols="30" ng-model="statusEdit.temp.text"></textarea>
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-default" ng-click="editStatus()">Cancel</button>
                        <button class="btn btn-warning" ng-click="submitStatusEditConfirm()">Submit</button>
                    </div>
                    <h3 id="text">{{selection.item.title}}</h3>
                    <strong>{{selection.item.presenterInfo.first}} {{selection.item.presenterInfo.last}}</strong>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>{{selection.item.copresenterOneInfo.first | isntEmpty:"CoPresenter(s):":""}} {{selection.item.copresenterOneInfo.last | isntEmpty:"":""}}{{selection.item.copresenterTwoInfo.first | isntEmpty:",":""}} {{selection.item.copresenterTwoInfo.last | isntEmpty:"":""}}
                            </p>
                            <p>Discipline: {{selection.item.discipline}}</p>
                            <p>Format:  {{selection.item.format}}</p>
                            <p>Type: {{selection.item.presentationType}}</p>
                            <p>Adviser: {{selection.item.adviserInfo.first}} {{selection.item.adviserInfo.last}}, email: {{selection.item.adviserInfo.email}}</p>
                            <p>{{selection.item.coadviserOneInfo.first | isntEmpty:"CoAdviser(s):":""}}{{selection.item.coadviserOneInfo.last | isntEmpty:"":""}}{{selection.item.coadviserTwoInfo.first | isntEmpty:",":""}} {{selection.item.coadviserTwoInfo.last | isntEmpty:"":""}}
                            </p>
                            <p>Adviser Approved: {{approvalWordChange(selection.item.approval)}} <span class="glyphicon glyphicon-info-sign" style="color:red" ng-show="statusApprovalConflict(selection.item)" title="This submission does not have adviser approval yet, but it has moved forward with the submission process."></span></p>
                            <p>{{selection.item.sponsors | isntEmpty:"Sponsors:":""}}</p>
                            <p>{{selection.item.mediaServicesEquipment | isntEmpty:"Media Services Equipment:":""}}</p>
                            <p>{{selection.item.specialRequirements | isntEmpty:"Special Requirements:":""}}</p>
                            <p>Willing to be Feature Presentation: {{approvalWordChange(selection.item.featured)}}</p>
                            <p>Date of submission: {{selection.item.timestamp}}</p>
                        </li>
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3>Abstract</h3>
                        </li>
                        <li class="list-group-item"><p ng-bind-html="selection.item.abstract"></p></li>
                    <br>
                    <p ng-show="isAdmin()">You are seeing this submission because you are an:</p>
                    <p ng-show="isAdmin()">admin</p>
                    <p ng-show="!isAdmin()">You are seeing this submission because you are a:</p>
                    <p ng-show="isChair()">chair</p>
                    <p ng-show="isPresenter(selection.item)">presenter of this submission</p>
                    <p ng-show="isCoPresenter(selection.item)">co-presenter of this submission</p>
                    <p ng-show="isAdviser(selection.item)">adviser of this submission</p>
                    <p ng-show="isReviewerGroup(selection.item)">reviewer in Reviewer Group {{selection.item.group}}</p>
                    <div ng-show="isAdmin() || isChair()"><b>Currently Assigned Review Group:</b>
                        <select ng-change="setReviewGroup(selection.item)" ng-model="selection.reviewGroup">
                        <option ng-repeat="option in groupOptions" value={{option}}>{{option}}</option>
                    </select>
                    <br>
                    <br>
                        </div>
                        <div ng-show="isReviewer()"><b>Currently Assigned Review Group:</b> {{selection.item.group}}</div>
                        <div><b>Current Room Assignment:</b> {{selection.item.roomAssignment}}</div>
                        <br>
                        <div ng-show="isAdmin() || isChair()">
                        <b>Edit Current Room Assignment:</b>
                            <br>
                            <!--<textarea class="roomTextArea" ng-model="selection.item.roomAssignment"  cols="20" rows="1" name="roomAssignment"></textarea>-->
                            <input class="blah"  ng-model="selection.item.roomAssignment" name="selection.item.roomAssignment">
                            <button class="btn btn-primary" ng-click="submitRoomAssignment(selection.item.roomAssignment)">Submit</button>
                        </div>

                    </ul>
                </li>
            </ul>
        </div>
        <div ng-show="selection.selected" class="col-md-3">
            <button class="btn btn-primary btn-block" ng-click="addComment(selection.item)">New Comment <span class="glyphicon glyphicon-pencil"></span></button>

            <ul class="plainList ">
                <li ng-repeat="comment in displayedComments()" ng-click="selectComment($index)" class="clickable alert alert-warning block commentStyle">
                    <p>{{comment.commentText | isntEmpty:"Comment:":"(No comment...)"}}</p>
                    <p class="subText" ng-show="hasAdminPrivs() || isReviewerGroup(selection.item)"><i>- {{comment.commenter}}</i></p>
                    <div ng-show="isSelectedComment($index)">
                        <button class="btn btn-xs responseButton" ng-hide="showResponses" ng-click="showResponses = true" title="show responses"><span class="glyphicon glyphicon-chevron-down"></span></button>
                        <button class="btn btn-xs responseButton" ng-show="showResponses" ng-click="showResponses = false" title="hide responses"><span class="glyphicon glyphicon-chevron-up"></span></button>

                        <div class="btn-group" dropdown>
                            <button class="btn btn-xs btn-primary" ng-click="addResponse(selection.item, transformCommentIndex($index))">Respond</button>
                            <button type="button" class="btn btn-xs btn-primary" dropdown-toggle><span class="glyphicon glyphicon-list"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="getOriginAbstract(selection.item , transformCommentIndex($index))">Details</a></li>
                                <li ng-show="hasAdminPrivs()"><a ng-click="deleteCommentModal(selection.item , transformCommentIndex($index))">Delete Comment</a></li>
                            </ul>
                        </div>
                    </div>
                    <div ng-show="showResponses">
                        <hr class="lineColor">
                        <div style="margin-left: 3px; padding-left: 10px; border-left: 2px solid steelblue" ng-repeat="response in comment.responses">
                            <p class="padded">{{response.response}}</p>
                            <p ng-show="hasAdminPrivs()"><i>- {{response.responder}}</i></p>
                            <button ng-show="hasAdminPrivs() || isReviewerGroup(selection.item)" class="btn btn-xs deleteButton" ng-click="deleteResponseModal(selection.item , transformCommentIndex($parent.$index) , $index)">Delete Response</button>
                        </div>
                    </div>
                </li>
            </ul>


            <pagination ng-show="selection.item.comments.length > 10" class="pagination-sm" total-items="selection.item.comments.length" ng-model="currentCommentPage"></pagination>
        </div>
    </div>


<!-- Starts showing resubmissions in details view here. -->

        <ul class="list-group" ng-show="(selection.resubmission != null) && selection.selected">
            <li class="list-group-item">
                <h1>Resubmission</h1>
                <button type="button" ng-show="hasAdminPrivs()" class="btn btn-success resubbutton" ng-click="approveResubmit()">Approve Resubmission</button>
                <button type="button" ng-show="isAdmin()" class="btn btn-danger" ng-click="deleteSubmissionConfirm(selection.resubmission)"><span class="glyphicon glyphicon-trash"></span></button>
            </li>
            <li class="list-group-item">
                <h2>Resubmission Comment</h2>
                <p>{{selection.resubmission.resubmissionData.comment}}</p>
            </li>
            <li class="list-group-item">
                <h3 id="text">{{selection.resubmission.title}}</h3>
                <strong>{{selection.resubmission.presenterInfo.first}} {{selection.resubmission.presenterInfo.last}}</strong>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>{{selection.resubmission.copresenterOneInfo.first | isntEmpty:"Co-Presenter(s):":""}} {{selection.resubmission.copresenterOneInfo.last | isntEmpty:"":""}}{{selection.resubmission.copresenterTwoInfo.first | isntEmpty:",":""}} {{selection.item.copresenterTwoInfo.last | isntEmpty:"":""}}
                        </p>
                        <p>Discipline: {{selection.resubmission.discipline}}</p>
                        <p>Format:  {{selection.resubmission.format}}</p>
                        <p>Type: {{selection.resubmission.presentationType}}</p>
                        <p>Adviser: {{selection.resubmission.adviserInfo.first}} {{selection.resubmission.adviserInfo.last}}, email: {{selection.resubmission.adviserInfo.email}}</p>
                        <p>Adviser Approved: {{approvalWordChange(selection.item.approval)}}</p>
                        <p>{{selection.resubmission.sponsors | isntEmpty:"Sponsors:":""}}</p>
                        <p>{{selection.resubmission.mediaServicesEquipment | isntEmpty:"Media Services Equipment:":""}}</p>
                        <p>{{selection.resubmission.specialRequirements | isntEmpty:"Special Requirements:":""}}</p>
                        <p>Willing to be Feature Presentation: {{approvalWordChange(selection.item.featured)}}</p>
                        <p>Date of submission: {{selection.resubmission.timestamp}}</p>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>Abstract</h3>
                    </li>
                    <li class="list-group-item"><p>{{selection.resubmission.abstract}}</p></li>
                </ul>
                <br>
                <p ng-show="isAdmin()">You are seeing this submission because you are an:</p>
                <p ng-show="isAdmin()">admin</p>first
                <p ng-show="!isAdmin()">You are seeing this submission because you are a:</p>
                <p ng-show="isChair()">chair</p>
                <p ng-show="isPresenter(selection.resubmission)">presenter of this submission</p>
                <p ng-show="isCoPresenter(selection.resubmission)">co-presenter of this submission</p>
                <p ng-show="isAdviser(selection.resubmission)">adviser of this submission</p>
                <p ng-show="isReviewerGroup(selection.resubmission)">reviewer in Reviewer Group {{selection.resubmission.group}}</p>
            </li>
        </ul>

</div>
