<div class="container-fluid breakLongWords" ng-controller="SublistCtrl">


    <!-- HTML for list view -->

    <!-- Start HTML FOR FILTERS HERE!!!!  -->
    <div class="row container-fluid" ng-hide="selection.selected">
        <div class="col-lg-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <input type="text" ng-model="filterData.searchText" placeholder="Search by name">
                    <hr ng-show="isAdmin() || isChair()">

                    <label ng-show="isAdmin() || isChair()">
                        Filter by review group:
                        <br>
                        <select  ng-model="filterData.reviewGroupFilterSelection">
                            <option ng-repeat="option in filterData.reviewGroupFilterOptions" ng-value="'{{option}}'">{{option}}</option>
                        </select>
                    </label>

                    <label ng-show="isAdmin() || isChair() || isReviewerOfAnything()">
                        Filter by feature presentation:
                        <br>
                        <select ng-model="filterData.featurePresentationFilterSelection">
                            <option ng-repeat="option in filterData.featurePresentationFilterOptions" ng-value="'{{option}}'">{{option}}</option>
                        </select>
                    </label>

                    <label ng-show="isAdmin() || isChair() || isReviewerOfAnything()">
                        Filter by flagged for resubmission:
                        <br>
                        <select ng-model="filterData.flaggedForResubmitFilterSelection">
                            <option ng-repeat="option in filterData.flaggedForResubmitFilterOptions" ng-value="'{{option}}'">{{option}}</option>
                        </select>
                    </label>

                    <label ng-show="isAdmin() || isChair() || isReviewerOfAnything()">
                        Filter by pending resubmissions:
                        <br>
                        <select ng-model="filterData.pendingResubmissionsSelection">
                            <option ng-repeat="option in filterData.pendingResubmissionsOptions" ng-value="'{{option}}'">{{option}}</option>
                        </select>
                    </label>

                    <label ng-show="isAdmin() || isChair() || isReviewerOfAnything()">
                      Filter by status:
                      <br>
                      <select ng-model="filterData.statusOptionsSelection">
                        <option ng-repeat="option in filterData.statusOptions" ng-value="'{{option}}'">{{option}}</option>
                      </select>
                    </label>

                    <hr ng-show="isAdmin() || isChair() || isReviewerOfAnything()">
                    <ul  ng-show="isAdmin() || isChair() || isReviewerOfAnything()">
                      <li class = "plainList" ng-repeat="sortMethod in filterData.sortOptions">
                        <label>
                          <input type="radio" ng-model="filterData.sortOptionsSelection" ng-value="filterData.sortOptionsSelected" name="sortMethod" ng-click="sortSubmissions(sortMethod)">&nbsp;Sort by {{sortMethod}}
                        </label>
                      </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- END HTML FOR FILTERS HERE. -->

        <div class="col-lg-9">

            <!-- START HTML FOR TABS!!!! -->
            <tabset ng-hide="selection.selected">
                <tab heading="All Submissions" ng-click="showAllSubmissions()"></tab>
                <tab ng-show="isPresenterOnAnything()" heading="Presenter Submissions" ng-click="showMySubmissions()"></tab>
                <tab ng-show="isCoPresenterOnAnything()" heading="CoPresenter Submissions" ng-click="showMyCoSubmissions()"></tab>
                <tab ng-show="isAdviserOfAnything()" heading="Adviser Submissions" ng-click="showMyAdviserSubmissions()"></tab>
                <tab ng-show="isReviewerOfAnything()" heading="Reviewer Submissions" ng-click="showMyReviewerSubmissions()"></tab>
                <tab ng-show="hasAnyPastSubmissions()" heading="Past Submissions" ng-click="showMyOldSubmissions()"></tab>
            </tabset>
            <!-- END HTML FOR TABS!!!! -->

            <ul class="list-group">
                <li class="list-group-item noTopBorder text">
                    <h2>Submissions </h2>
                </li>

                <li class="list-group-item" ng-show="submissions.length == 0 && timeoutBoolean">
                    <img class="loadingImage" src="assets/images/hourglass-gif.gif">
                </li>

                <li class="list-group-item" ng-style="statusColorTab(sub.status.strict)" ng-repeat="sub in submissions | filter:currentYearFilter | filter:tabFilters | filter:reviewGroupFilter | filter:featurePresentationFilter | filter:flaggedForResubmitFilter | filter:pendingResubmissionsFilter | filter:statusFilter | filter:searchFilter" ng-hide="isResubmission(sub)">
                    <h3 class="text">{{sub.title}}
                        <span ng-show="getResubmission(sub) != null" title="Submission has an unapproved resubmission" style="color: red" class="glyphicon glyphicon-warning-sign"></span>
                        <span ng-show="sub.resubmissionData.resubmitFlag" title="Submission is flagged for resubmission" style="color: darkgoldenrod" class="glyphicon glyphicon-flag"></span>
                    </h3>
                    <button class="buttonL" ng-click="selectItem($index)">Select</button>
                    <p>
                        Presenter: {{sub.presenterInfo.first}} {{sub.presenterInfo.last}}
                    </p>
                    <p>
                        {{sub.copresenterOneInfo.first | isntEmpty:"CoPresenter(s):":""}} {{sub.copresenterOneInfo.last | isntEmpty:"":""}}{{sub.copresenterTwoInfo.first | isntEmpty:",":""}} {{sub.copresenterTwoInfo.last | isntEmpty:"":""}}
                    </p>
                    <p>
                        Adviser: {{sub.adviserInfo.first}} {{sub.adviserInfo.last}}
                    </p>
                    <p>
                        {{sub.coadviserOneInfo.first | isntEmpty:"CoAdviser(s):":""}} {{sub.coadviserOneInfo.last | isntEmpty:"":""}}{{sub.coadviserTwoInfo.first | isntEmpty:",":""}} {{sub.coadviserTwoInfo.last | isntEmpty:"":""}}
                    </p>
                    <p class="subtext">
                        Date of Submission: {{sub.timestamp}}
                    </p>
                    <br>
                </li>
            </ul>

        </div>
    </div>

    <!-- HTML FOR THE DETAILS VIEW STARTS HERE!!!!! -->

    <div class="row">
        <div class="col-md-9" >
            <ul class="list-group" ng-show="selection.selected">

                <li class="list-group-item overflowAuto">
                    <button class="btn btn-sm btn-block" ng-click="resetSelection()"><span class="glyphicon glyphicon-chevron-left"></span> Back to Submission List</button>
                    <br>

                    <div ng-show="(hasAdminPrivs() || getCurrentUser().role == 'reviewer') && !voteHide(selection.item)">
                        Vote on status
                        <br>
                        <select  ng-model="voteOption">
                            <option selected = 'selected'>
                                {{voteOption}}
                            </option>
                            <option ng-repeat="vote in reviewOptions" ng-value="'{{vote}}'">
                                {{vote}}
                            </option>
                        </select>
                        <span>&nbsp;</span> <!-- This adds white space between the dropdown and submit button using an escaped space. -->
                        <button class="btn btn-warning" ng-click="updateReviewVotingConfirm(voteOption)">Submit</button>
                        <br>
                        <button class="btn btn-xs voteDropDown" ng-hide="showVotes" ng-click="showVotes = true">Show Votes <span class="glyphicon glyphicon-chevron-down"></span></button>
                        <button class="btn btn-xs voteDropDown" ng-show="showVotes" ng-click="showVotes = false">Hide Votes <span class="glyphicon glyphicon-chevron-up"></span></button>
                        <br>
                        <div ng-show="showVotes">
                        <br>
                        <p><b>Accepted without revisions votes</b>: {{arrayToString(selection.item.reviewVotes.Accepted)}}</p>
                        <p><b>Minor revisions votes</b>: {{arrayToString(selection.item.reviewVotes.Minor)}}</p>
                        <p><b>Major revisions votes</b>: {{arrayToString(selection.item.reviewVotes.Major)}}</p>
                        <p><b>Total Rewrite votes</b>: {{arrayToString(selection.item.reviewVotes.TotalRewrite)}}</p>
                        </div>
                        <br>
                    </div>

                    <!--<button ng-show="isAdmin()" class="btn btn-md btn-danger" ng-click="deleteSubmissionConfirm(selection.item)"><span class="glyphicon glyphicon-trash"></span></button>-->

                    <button ng-show="showResubmitButton().show" class="btn btn-md sideMargins moveRight {{showResubmitButton().style}}" ng-click="showResubmitButton().action()">{{showResubmitButton().text}}</button>

                    <div class="btn-group sideMargins moveRight">
                        <button ng-show="(isPrimaryAdviser(selection.item) || hasAdminPrivs()) && !isApproved(selection.item)" class="btn btn-md btn-success  " ng-click="approveSubmissionConfirm(selection.item)">  Give adviser approval  <span class="glyphicon glyphicon-thumbs-up"></span></button>
                        <button ng-show="(isPrimaryAdviser(selection.item) || hasAdminPrivs()) && !isApproved(selection.item) && (selection.item.status.strict != 'Withdrawn')" class="btn btn-md btn-danger " ng-click="rejectSubmissionConfirm(selection.item)">  Reject Submission  <span class="glyphicon glyphicon-thumbs-down"></span></button>
                    </div>
                    <br>

                </li>

                <li class="list-group-item" ng-style="statusColorTab(selection.item.status.strict)">

                    <div class="block alert clickable" ng-style="statusColorBody(selection.item.status.strict)" ng-click="editStatus(selection.item)">
                        <button ng-show="hasAdminPrivs()" class="btn btn-sm btn-warning close"><span class="glyphicon glyphicon-file"></span></button>
                        <b>Status:</b> {{selection.item.status.strict}} <br>
                        <b>Comment:</b> {{selection.item.status.text}}</p>
                    </div>
                    <div class="block alert" ng-show="statusEdit.editing" ng-style="statusColorBody(selection.item.status.strict)">
                        <div class="container-fluid row">
                            <div class="col-md-6">
                                <label>
                                    Select Submission Status <br>
                                    <select ng-model="statusEdit.temp.strict">
                                        <option ng-repeat="status in statusEdit.options" ng-value="'{{status}}'">{{status}}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label>
                                    Elaborate <br>
                                    <textarea cols="30" ng-model="statusEdit.temp.text"></textarea>
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-default" ng-click="editStatus()">Cancel</button>
                        <button class="btn btn-warning" ng-click="submitStatusEditConfirm()">Submit</button>
                    </div>

                    <h3 class="text">{{selection.item.title}}</h3>
                    <p>
                        Presenter: {{selection.item.presenterInfo.first}} {{selection.item.presenterInfo.last}}
                    </p>
                    <p>
                        {{selection.item.copresenterOneInfo.first | isntEmpty:"CoPresenter(s):":""}} {{selection.item.copresenterOneInfo.last | isntEmpty:"":""}}{{selection.item.copresenterTwoInfo.first | isntEmpty:",":""}} {{selection.item.copresenterTwoInfo.last | isntEmpty:"":""}}
                    </p>
                    <p>
                        Adviser: {{selection.item.adviserInfo.first}} {{selection.item.adviserInfo.last}}
                    </p>
                    <p>
                        {{selection.item.coadviserOneInfo.first | isntEmpty:"CoAdviser(s):":""}}{{selection.item.coadviserOneInfo.last | isntEmpty:"":""}}{{selection.item.coadviserTwoInfo.first | isntEmpty:",":""}} {{selection.item.coadviserTwoInfo.last | isntEmpty:"":""}}
                    </p>

                    <button class="btn btn-m block detailsBtn detailsDropDown" ng-hide="showDetails" ng-click="showDetails = true">Show Details <span class="glyphicon glyphicon-chevron-down"></span></button>
                    <button class="btn btn-m block detailsBtn detailsDropDown" ng-show="showDetails" ng-click="showDetails = false">Hide Details <span class="glyphicon glyphicon-chevron-up"></span></button>
                    <br>
                    <div ng-show="showDetails">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <p>Presenter Email: {{selection.item.presenterInfo.email}}</p>
                              <p> {{selection.item.copresenterOneInfo.email | isntEmpty:"CoPresenter(s) Email:":""}}{{selection.item.copresenterTwoInfo.email | isntEmpty:",":""}} </p>
                              <p>Adviser Email: {{selection.item.adviserInfo.email}} </p>
                              <p> {{selection.item.coadviserOneInfo.email | isntEmpty:"CoAdviser(s) Email:":""}}{{selection.item.coadviserTwoInfo.email | isntEmpty:",":""}}</p>
                              <p>Discipline: {{selection.item.discipline}}</p>
                              <p>Type: {{selection.item.presentationType}}</p>
                              <p>Format:  {{selection.item.format}}</p>
                              <p>Willing to Change Format: {{approvalWordChange(selection.item.formatChange)}}</p>
                              <p>Willing to be Feature Presentation: {{approvalWordChange(selection.item.featured)}}</p>
                              <p>Adviser Approved: {{approvalWordChange(selection.item.approval)}} <span class="glyphicon glyphicon-info-sign" style="color:red" ng-show="statusApprovalConflict(selection.item)" title="This submission does not have adviser approval yet, but it has moved forward with the submission process."></span></p>
                              <p>{{selection.item.sponsors | isntEmpty:"Sponsors:":""}}</p>
                              <p>{{selection.item.mediaServicesEquipment | isntEmpty:"Media Services Equipment:":""}}</p>
                              <p>{{selection.item.specialRequirements | isntEmpty:"Special Requirements:":""}}</p>
                              <p>{{selection.item.otherInfo | isntEmpty:"Additional Information:":""}}</p>
                              <p>{{selection.item.roomAssignment | isntEmpty:"Room Assignment:":""}}</p>
                             <!--This needs a filter for not equal to zero vs isnt empty-->
                              <p>{{selection.item.group | isntEqualToZero:"Review Group:":""}}</p>
                              <p>Date of submission: {{selection.item.timestamp}}</p>
                          </li>
                      </ul>
                    </div>


                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3>Abstract</h3>
                        </li>
                        <li class="list-group-item"><p ng-bind-html="selection.item.abstract"></p></li>
                    </ul>

                    <span class="subtext">You are seeing this submission because you are a(n):</span>
                    <ul class="list-group">
                        <li class="subtext plainList" ng-show="isAdmin()">Admin</li>
                        <li class="subtext plainList" ng-show="isChair()">Chair</li>
                        <li class="subtext plainList" ng-show="isPresenter(selection.item)">Presenter of this submission</li>
                        <li class="subtext plainList" ng-show="isCoPresenter(selection.item)">CoPresenter of this submission</li>
                        <li class="subtext plainList" ng-show="isPrimaryAdviser(selection.item)">Adviser of this submission</li>
                        <li class="subtext plainList" ng-show="(!isPrimaryAdviser(selection.item) && isAdviser(selection.item))">CoAdviser of this submission</li>
                        <li class="subtext plainList" ng-show="isReviewerGroup(selection.item)">Reviewer in Review Group {{selection.item.group}}</li>
                    </ul>

                    <div ng-show="isAdmin() || isChair()">
                      <button ng-show="isAdmin()" class="btn btn-md btn-danger sideMargins moveRight " ng-click="deleteSubmissionConfirm(selection.item)"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </li> <!-- End where the colored sidebar is -->
            </ul>

            <!-- STARTS SHOWING RESUBMISSION IN DETAILS VIEW HERE IF ONE IS PENDING. -->

            <ul class="list-group" ng-show="(selection.resubmission != null) && selection.selected">
              <li class="list-group-item">
                <div class="row">

                  <div class="col-md-4">
                    <h3>Resubmission</h3>
                    <button type="button" ng-show="hasAdminPrivs()" class="btn btn-success resubbutton" ng-click="approveResubmitConfirm()">Approve Resubmission</button>
                    <button type="button" ng-show="isAdmin()" class="btn btn-danger" ng-click="deleteSubmissionConfirm(selection.resubmission)"><span class="glyphicon glyphicon-trash"></span></button>

                  </div>

                  <div class="col-md-8">
                    <h3>Comment</h3>
                    <p>{{selection.resubmission.resubmissionData.comment}}</p>
                  </div>

                </div>
              </li>

              <li class="list-group-item">
                <h3 class="text">{{selection.resubmission.title}}</h3>
                <p>Presenter: {{selection.resubmission.presenterInfo.first}} {{selection.resubmission.presenterInfo.last}} </p>
                <p>{{selection.resubmission.copresenterOneInfo.first | isntEmpty:"CoPresenter(s):":""}} {{selection.resubmission.copresenterOneInfo.last | isntEmpty:"":""}}{{selection.resubmission.copresenterTwoInfo.first | isntEmpty:",":""}} {{selection.resubmission.copresenterTwoInfo.last | isntEmpty:"":""}}</p>
                <p>Adviser: {{selection.resubmission.adviserInfo.first}} {{selection.resubmission.adviserInfo.last}}</p>
                <p>{{selection.resubmission.coadviserOneInfo.first | isntEmpty:"CoAdviser(s):":""}}{{selection.resubmission.coadviserOneInfo.last | isntEmpty:"":""}}{{selection.resubmission.coadviserTwoInfo.first | isntEmpty:",":""}} {{selection.resubmission.coadviserTwoInfo.last | isntEmpty:"":""}}</p>

                <button class="btn btn-m block detailsBtn detailsDropDown" ng-hide="resubShowDetails" ng-click="resubShowDetails = true">Show Details <span class="glyphicon glyphicon-chevron-down"></span></button>
                <button class="btn btn-m block detailsBtn detailsDropDown" ng-show="resubShowDetails" ng-click="resubShowDetails = false">Hide Details <span class="glyphicon glyphicon-chevron-up"></span></button>
                <br>
                <div ng-show="resubShowDetails">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <p>Presenter Email: {{selection.item.presenterInfo.email}}</p>
                      <p> {{selection.item.copresenterOneInfo.email | isntEmpty:"CoPresenter(s) Email:":""}}{{selection.item.copresenterTwoInfo.email | isntEmpty:",":""}} </p>
                      <p>Adviser Email: {{selection.item.adviserInfo.email}} </p>
                      <p> {{selection.item.coadviserOneInfo.email | isntEmpty:"CoAdviser(s) Email:":""}}{{selection.item.coadviserTwoInfo.email | isntEmpty:",":""}}</p>
                      <p>Discipline: {{selection.resubmission.discipline}}</p>
                      <p>Type: {{selection.resubmission.presentationType}}</p>
                      <p>Format:  {{selection.resubmission.format}}</p>
                      <p>Willing to Change Format: {{approvalWordChange(selection.resubmission.formatChange)}}</p>
                      <p>Willing to be Feature Presentation: {{approvalWordChange(selection.resubmission.featured)}}</p>
                      <p>Adviser Approved: {{approvalWordChange(selection.resubmission.approval)}} <span class="glyphicon glyphicon-info-sign" style="color:red" ng-show="statusApprovalConflict(selection.item)" title="This submission does not have adviser approval yet, but it has moved forward with the submission process."></span></p>
                      <p>{{selection.resubmission.sponsors | isntEmpty:"Sponsors:":""}}</p>
                      <p>{{selection.resubmission.mediaServicesEquipment | isntEmpty:"Media Services Equipment:":""}}</p>
                      <p>{{selection.resubmission.specialRequirements | isntEmpty:"Special Requirements:":""}}</p>
                      <p>{{selection.resubmission.otherInfo | isntEmpty:"Additional Information:":""}}</p>
                      <p>{{selection.resubmission.roomAssignment | isntEmpty:"Room Assignment:":""}}</p>
                      <p>Date of submission: {{selection.resubmission.timestamp}}</p>
                    </li>
                  </ul>
                </div>

                <ul class="list-group">
                  <li class="list-group-item">
                    <h3>Abstract</h3>
                  </li>
                  <li class="list-group-item"><p>{{selection.resubmission.abstract}}</p></li>
                </ul>

              </li>

            </ul>

        </div> <!-- End Column containing the submission and resubmission. -->

        <!-- THIS IS WHERE WE INCLUDE THE HTML PORTION OF ADDING COMMENTS!!!!!! -->

        <!--Button for adding a comment-->
        <div ng-show="selection.selected" class="col-md-3">
            <button class="btn btn-primary btn-block" ng-click="addComment(selection.item)">New Comment <span class="glyphicon glyphicon-pencil"></span></button>
            <!--Displays the comments as well as the buttons for showing/hiding responses, deleting comments if you have admin privs and viewing the details of a comment-->
            <ul class="plainList ">
                <li ng-repeat="comment in displayedComments()" ng-click="selectComment($index)" class="clickable alert alert-warning block commentStyle">
                    <p>{{comment.commentText | isntEmpty:"Comment:":"(No comment...)"}}</p>
                    <p class="subText" ng-show="hasAdminPrivs() || isReviewerGroup(selection.item)"><i>- {{comment.commenter}}</i></p>
                    <div ng-show="isSelectedComment($index)">
                        <button class="btn btn-xs responseButton" ng-hide="showResponses" ng-click="showResponses = true" title="show responses"><span class="glyphicon glyphicon-chevron-down"></span></button>
                        <button class="btn btn-xs responseButton" ng-show="showResponses" ng-click="showResponses = false" title="hide responses"><span class="glyphicon glyphicon-chevron-up"></span></button>

                        <div class="btn-group" dropdown>
                            <button class="btn btn-xs btn-primary" ng-click="addResponse(selection.item, transformCommentIndex($index))">Respond</button>
                            <button type="button" class="btn btn-xs btn-primary" dropdown-toggle><span class="glyphicon glyphicon-list"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="getOriginAbstract(selection.item , transformCommentIndex($index))">Details</a></li>
                                <li ng-show="hasAdminPrivs() || (isReviewerGroup(selection.item) && isCommenter(comment))"><a ng-click="deleteCommentModal(selection.item , transformCommentIndex($index))">Delete Comment</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Display of responses as well as buttons associated with deleting them if the user has admin privs-->
                    <div ng-show="showResponses">
                        <hr class="lineColor">
                        <div style="margin-left: 3px; padding-left: 10px; border-left: 2px solid steelblue" ng-repeat="response in comment.responses">
                            <p class="padded">{{response.response}}</p>
                            <p ng-show="hasAdminPrivs()"><i>- {{response.responder}}</i></p>
                            <button ng-show="hasAdminPrivs() || (isReviewerGroup(selection.item) && isResponder(response))" class="btn btn-xs deleteButton" ng-click="deleteResponseModal(selection.item , transformCommentIndex($parent.$index) , $index)">Delete Response</button>
                        </div>
                    </div>
                </li>
            </ul>

            <!--Creates the pagination for the displayed comments-->
            <pagination ng-show="selection.item.comments.length > 10" class="pagination-sm" total-items="selection.item.comments.length" ng-model="currentCommentPage"></pagination>
        </div>

    </div> <!-- End row containing the columns for comments and submissions.  -->

</div>
