<div class="container-fluid breakLongWords" ng-controller="SublistCtrl">
    <tabset ng-hide="selection.selected">
        <tab heading="All Submissions" ng-click="showAllSubmissions()"></tab>
        <tab ng-show="isPresenterOnAnything()" heading="Presenter Submissions" ng-click="showMySubmissions()"></tab>
        <tab ng-show="isCoPresenterOnAnything()" heading="CoPresenter Submissions" ng-click="showMyCoSubmissions()"></tab>
        <tab ng-show="isAdviserOfAnything()" heading="Adviser Submissions" ng-click="showMyAdviserSubmissions()"></tab>
        <tab ng-show="isReviewerOfAnything()" heading="Reviewer Submissions" ng-click="showMyReviewerSubmissions()"></tab>
    </tabset>
    <ul class="list-group" ng-hide="selection.selected">
        <li class="list-group-item noTopBorder" id="text">
            <h2>Submissions </h2>
            <br>
            <input type="text" ng-model="filterData.searchText" placeholder="Search">
            <select ng-show="isAdmin() || isChair()" ng-model="filterData.reviewGroupFilterSelection">
                <option ng-repeat="option in filterData.reviewGroupFilterOptions" ng-value="'{{option}}'">{{option}}</option>
            </select>
            <!--<button type="button" class="btn btn-default" ng-click="filterData.orderByPredicate='timestamp'">Order by timestamp</button>-->
        </li>

        <li class="list-group-item" ng-style="statusColorTab(sub.status.strict)" ng-repeat="sub in submissions | filter:hasPermissions | filter:tabFilters | filter:reviewGroupFilter | filter:searchFilter" ng-hide="isResubmission(sub)">
            <h3 id="text">{{sub.title}}
                <span ng-show="getResubmission(sub) != null" title="Submission has an unapproved resubmission" style="color: red" class="glyphicon glyphicon-warning-sign"></span>
                <span ng-show="sub.resubmissionData.resubmitFlag" title="Submission is flagged for resubmission" style="color: darkgoldenrod" class="glyphicon glyphicon-flag"></span>
            </h3>
            <button class="buttonL" ng-click="selectItem($index)">Details</button>
            <strong>Presenter: {{sub.presenterInfo.first}} {{sub.presenterInfo.last}}</strong>
            <p class="subtext">
                {{sub.copresenterOneInfo.first | isntEmpty:"CoPresenter(s):":""}} {{sub.copresenterOneInfo.last | isntEmpty:"":""}}{{sub.copresenterTwoInfo.first | isntEmpty:",":""}} {{sub.copresenterTwoInfo.last | isntEmpty:"":""}}
            </p>
            <p>
                Adviser: {{sub.adviserInfo.first}} {{sub.adviserInfo.last}}
            </p>
            <p class="subtext">
                {{sub.coadviserOneInfo.first | isntEmpty:"CoAdviser(s):":""}} {{sub.coadviserOneInfo.last | isntEmpty:"":""}}{{sub.coadviserTwoInfo.first | isntEmpty:",":""}} {{sub.coadviserTwoInfo.last | isntEmpty:"":""}}
            </p>
            <p class="subtext">
            Date of Submission: {{sub.timestamp}}
            </p>
            <br>
          </li>
    </ul>

    <!-- HTML for details view starts here. -->

    <ul class="list-group" ng-show="selection.selected">
        <li class="list-group-item overflowAuto">
            <button class="btn btn-sm btn-block" ng-click="resetSelection()"><span class="glyphicon glyphicon-chevron-left"></span> Back to Submission List</button>
            <br>
            <button ng-show="isAdmin()" class="btn btn-md btn-danger" ng-click="deleteSubmissionConfirm(selection.item)"><span class="glyphicon glyphicon-trash"></span></button>
            <button ng-show="hasAdminPrivs()" class="btn btn-md btn-primary moveRight" ng-click="flagForResubmit()">Flag for Re-Submission</button>
            <button ng-show="isPresenter(selection.item) && (getResubmission(selection.item).length == 0)" class="btn btn-md btn-primary sideMargins moveRight" ng-click="flagForResubmit()">Re-Submit this Submission</button>
            <button ng-show="isPresenter(selection.item) && (getResubmission(selection.item) == null)" class="btn btn-md btn-primary sideMargins moveRight" ng-click="flagForResubmit()">Re-Submit this Submission</button>

            <div class="btn-group sideMargins moveRight">
                <button ng-show="(isPrimaryAdviser(selection.item) || hasAdminPrivs()) && !isApproved(selection.item)" class="btn btn-md btn-success  " ng-click="approveSubmission(selection.item)">Adviser Approval</button>
                <button ng-show="(isPrimaryAdviser(selection.item) || hasAdminPrivs()) && !isApproved(selection.item)" class="btn btn-md btn-danger " ng-click="rejectSubmission(selection.item)">Adviser Rejection</button>
            </div>

            <br>

        </li>
        <li class="list-group-item" ng-style="statusColorTab(selection.item.status.strict)">

            <div class="block alert clickable" ng-style="statusColorBody(selection.item.status.strict)" ng-click="editStatus(selection.item)">
                <button ng-show="hasAdminPrivs()" class="btn btn-sm btn-warning close"><span class="glyphicon glyphicon-file"></span></button>
                <b>Status:</b> {{selection.item.status.strict}} <br>
                <b>Comment:</b> {{selection.item.status.text}}</p>
            </div>
            <div class="block alert" ng-show="statusEdit.editing" ng-style="statusColorBody(selection.item.status.strict)">
                <div class="container-fluid row">
                    <div class="col-md-6">
                        <label>
                            Select Submission Status <br>
                            <select ng-model="statusEdit.temp.strict">
                                <option ng-repeat="status in statusEdit.options" ng-value="{{'status'}}">{{status}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label>
                            Elaborate <br>
                            <textarea cols="30" ng-model="statusEdit.temp.text"></textarea>
                        </label>
                    </div>
                </div>
                <button class="btn btn-default" ng-click="editStatus()">Cancel</button>
                <button class="btn btn-warning" ng-click="submitStatusEdit()">Submit</button>
            </div>
            <h3 id="text">{{selection.item.title}}</h3>
            <strong>{{selection.item.presenterInfo.last}}, {{selection.item.presenterInfo.first}}</strong>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">
                    <p>{{selection.item.copresenterOneInfo.first | isntEmpty:"CoPresenter(s):":""}} {{selection.item.copresenterOneInfo.last | isntEmpty:"":""}}{{selection.item.copresenterTwoInfo.first | isntEmpty:",":""}} {{selection.item.copresenterTwoInfo.last | isntEmpty:"":""}}
                    </p>
                    <p>Discipline: {{selection.item.discipline}}</p>
                    <p>Format:  {{selection.item.format}}</p>
                    <p>Type: {{selection.item.presentationType}}</p>
                    <p>Adviser: {{selection.item.adviserInfo.last}}, {{selection.item.adviserInfo.first}} email: {{selection.item.adviserInfo.email}}</p>
                    <p>{{selection.item.coadviserOneInfo.first | isntEmpty:"CoAdviser(s):":""}}{{selection.item.coadviserOneInfo.last | isntEmpty:"":""}}{{selection.item.coadviserTwoInfo.first | isntEmpty:",":""}} {{selection.item.coadviserTwoInfo.last | isntEmpty:"":""}}
                    </p>
                    <p>Adviser Approved: {{approvalWordChange(selection.item.approval)}}</p>
                    <p>{{selection.item.sponsors | isntEmpty:"Sponsors:":""}}</p>
                    <p>{{selection.item.mediaServicesEquipment | isntEmpty:"Media Services Equipment:":""}}</p>
                    <p>{{selection.item.specialRequirements | isntEmpty:"Special Requirements:":""}}</p>
                    <p>Date of submission: {{selection.item.timestamp}}</p>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>Abstract</h3>
                </li>
                <li class="list-group-item"><p ng-bind-html="selection.item.abstract"></p></li>
                <li class="list-group-item overflowAuto">
                    <h3>Comments </h3> (To add a comment, highlight the text you wish to comment upon and hit "Add Comment")
                    <button class="btn btn-md btn-primary moveRight inlineBlock" ng-click="addComment(selection.item)">Add Comment</button>
                </li>
                <li class="list-group-item" ng-repeat="comment in selection.item.comments">
                    <b>{{comment.selectionText | isntEmpty:"Quoted Text:":"(No associated quotation)"}}</b>

                    <br>
                    <p>{{comment.commentText | isntEmpty:"Comment:":"(No comment...)"}}</p>
                    <p>Comment made by <i>{{comment.commenter}}</i> on {{comment.timestamp}}</p>
                    <button class="btn btn-xs responseButton" ng-hide="showResponses" ng-click="showResponses = true">Show Responses <span class="glyphicon glyphicon-chevron-down"></span></button>
                    <button class="btn btn-xs responseButton" ng-show="showResponses" ng-click="showResponses = false">Hide Responses <span class="glyphicon glyphicon-chevron-up"></span></button>
                    <button class="btn btn-xs" ng-click="addResponse(selection.item , $index)">Respond to Comment</button>
                    <button class="btn btn-xs" ng-click="getOriginAbstract(selection.item , $index)">Show Comment in Context</button>
                    <button ng-show="hasAdminPrivs()" class="btn btn-xs deleteButton" ng-click="deleteComment(selection.item , $index)">Delete Comment</button>
                    <div ng-show="showResponses" ng-repeat="response in comment.responses">
                        <p class="padded">{{response.response}}</p>
                        <button ng-show="hasAdminPrivs()" class="btn btn-xs" ng-click="deleteResponse(selection.item , $parent.$index , $index)">Delete Response</button>
                        <p>Response made by <i>{{response.responder}}</i> on {{response.timestamp}}</p>
                    </div>
                </li>
            </ul>
            <br>
            <p ng-show="isAdmin()">You are seeing this submission because you are an:</p>
            <p ng-show="isAdmin()">admin</p>
            <p ng-show="!isAdmin()">You are seeing this submission because you are a:</p>
            <p ng-show="isChair()">chair</p>
            <p ng-show="isPresenter(selection.item)">presenter of this submission</p>
            <p ng-show="isCoPresenter(selection.item)">co-presenter of this submission</p>
            <p ng-show="isAdviser(selection.item)">adviser of this submission</p>
            <p ng-show="isReviewerGroup(selection.item)">reviewer in Reviewer Group {{selection.item.group}}</p>
            <b>Currently Assigned Review Group:</b>
            <select ng-change="setReviewGroup(selection.item)" ng-model="selection.reviewGroup">
                <option ng-repeat="option in groupOptions" value={{option}}>{{option}}</option>
            </select>
        </li>
    </ul>

<!-- Starts showing resubmissions in details view here. -->

        <ul class="list-group" ng-show="(selection.resubmission != null) && selection.selected">
            <li class="list-group-item">
                <h1>Resubmission</h1>
                <button type="button" ng-show="hasAdminPrivs()" class="btn btn-success resubbutton" ng-click="approveResubmit()">Approve Resubmission</button>
                <button type="button" ng-show="isAdmin()" class="btn btn-danger" ng-click="deleteSubmissionConfirm(selection.resubmission)"><span class="glyphicon glyphicon-trash"></span></button>
            </li>
            <li class="list-group-item">
                <h2>Resubmission Comment</h2>
                <p>{{selection.resubmission.resubmissionData.comment}}</p>
            </li>
            <li class="list-group-item">
                <h3 id="text">{{selection.resubmission.title}}</h3>
                <strong>{{selection.resubmission.presenterInfo.last}}, {{selection.resubmission.presenterInfo.first}}</strong>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>{{selection.resubmission.copresenterOneInfo.first | isntEmpty:"Co-Presenter(s):":""}} {{selection.resubmission.copresenterOneInfo.last | isntEmpty:"":""}}{{selection.resubmission.copresenterTwoInfo.first | isntEmpty:",":""}} {{selection.item.copresenterTwoInfo.last | isntEmpty:"":""}}
                        </p>
                        <p>Discipline: {{selection.resubmission.discipline}}</p>
                        <p>Format:  {{selection.resubmission.format}}</p>
                        <p>Type: {{selection.resubmission.presentationType}}</p>
                        <p>Adviser: {{selection.resubmission.adviserInfo.last}}, {{selection.resubmission.adviserInfo.first}} email: {{selection.resubmission.adviserInfo.email}}</p>
                        <p>Adviser Approved: {{approvalWordChange(selection.item.approval)}}</p>
                        <p>{{selection.resubmission.sponsors | isntEmpty:"Sponsors:":""}}</p>
                        <p>{{selection.resubmission.mediaServicesEquipment | isntEmpty:"Media Services Equipment:":""}}</p>
                        <p>{{selection.resubmission.specialRequirements | isntEmpty:"Special Requirements:":""}}</p>
                        <p>Date of submission: {{selection.resubmission.timestamp}}</p>
                    </li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>Abstract</h3>
                    </li>
                    <li class="list-group-item"><p>{{selection.resubmission.abstract}}</p></li>
                </ul>
                <br>
                <p ng-show="isAdmin()">You are seeing this submission because you are an:</p>
                <p ng-show="isAdmin()">admin</p>
                <p ng-show="!isAdmin()">You are seeing this submission because you are a:</p>
                <p ng-show="isChair()">chair</p>
                <p ng-show="isPresenter(selection.resubmission)">presenter of this submission</p>
                <p ng-show="isCoPresenter(selection.resubmission)">co-presenter of this submission</p>
                <p ng-show="isAdviser(selection.resubmission)">adviser of this submission</p>
                <p ng-show="isReviewerGroup(selection.resubmission)">reviewer in Reviewer Group {{selection.resubmission.group}}</p>
            </li>
        </ul>
    </div>

</div>
