<div ng-controller="StatuseditorCtrl" ng-show="isAdmin() || isChair()" class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item"><h1>Status Option Editor</h1></li>
        <button class="btn btn-primary padded" ng-click="addStatusConfirm()">Add New Status  <span class="glyphicon glyphicon-plus"></span></button>
        <li class="list-group-item" ng-repeat="status in statusArray" ng-style="statusEditorColor(status)">
            <div class="center">
                <h2>{{status.strict}}</h2>
                <h3 ng-hide="requiredStatus(status)">Priority:
                    <input class="centerBox" type="number" ng-model="status.priority" max="14" min="2" name="priority" required>
                </h3>
                <h3 ng-show="requiredStatus(status)">Required Status</h3>

                <br>
            </div>
            <div class="row">
                <div class="col-lg-5">

                    <label class="padded">
                        <br>
                        <textarea ng-model="status.strict"  cols="30" rows="1" name="Strict"></textarea>
                    </label>
                    <br>

                    <label class="padded">
                        Email Subject:
                        <br>
                        <textarea ng-model="status.emailSubject"  cols="30" rows="1" name="EmailSubject"></textarea>
                    </label>
                    <br>

                    <label class="padded">
                        Email Body:
                        <br>
                        (presenter's name will precede the text):
                        <br>
                        <textarea ng-model="status.emailBody"  cols="30" rows="5" name="Strict"></textarea>
                    </label>
                    <br>
                </div>

                <div class="col-lg-1">
                    <label class="padded">
                        Color:
                        <br>
                        <table cellpadding="0" cellspacing="1" border="1" bgcolor="#000000">
                            <tbody>
                            <tr ng-repeat="coloring in statusColors">
                                <td height="22" width="22" ng-click="colorClick(status, coloring)" ng-style="statusBoxColor(coloring)"><span class="glyphicon glyphicon-ok glyphiconCenter" ng-show="selectedColor(status, coloring)"> </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </label>
                </div>

                <div class="col-lg-3">

                    <button class="btn btn-xs" ng-hide="showColorSlider" ng-click="showColorSlider = true">Show Color Sliders <span class="glyphicon glyphicon-chevron-down"></span></button>
                    <button class="btn btn-xs" ng-show="showColorSlider" ng-click="showColorSlider = false">Hide Color Sliders <span class="glyphicon glyphicon-chevron-up"></span></button>

                    <div ng-show="showColorSlider">
                        Red<input type="range" ng-model="status.color.red" min="0" max="255">
                        Green<input type="range" ng-model="status.color.green" min="0" max="255">
                        Blue<input type="range" ng-model="status.color.blue" min="0" max="255">
                        <!--Alpha<input type="range" ng-model="status.color.alpha" min="0" max="100">-->


                        <br>
                        <textarea ng-model="status.color.red"  cols="3" rows="1" name="ColorRed"></textarea>
                        <textarea ng-model="status.color.green"  cols="3" rows="1" name="ColorGreen"></textarea>
                        <textarea ng-model="status.color.blue"  cols="3" rows="1" name="ColorBlue"></textarea>
                        <!--<textarea ng-model="status.color.alpha/100"  cols="3" rows="1" name="ColorAlpha"></textarea>-->
                        <br>
                    </div>
                    <button class="btn btn-primary padded" ng-click="submitChangesConfirm(status)">Submit Changes</button>
                    <button class="btn btn-warning padded" ng-click="testConfirm()">Test Modal</button>
                </div>

                    <button ng-hide="requiredStatus(status)" class="btn btn-md btn-danger" ng-click="deleteStatusConfirm(status)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                    <br>

                </div>
            </li>
        </ul>
    </div>