#statusEditorStyle{

}

/*Make full area of accordion toggles clickable*/
.accordion-toggle,.accordion-heading {
  display: block;
}

/*Highlight clickable area to make it clear to user*/
.accordion-toggle:hover, .accordion-heading:hover {
  background-color: lightskyblue;
}

/*Centers the title and the priority*/
.center {
    padding-left: 25%;
    padding-right: 25%;

}

/*Moves the priority input to be inline with the Priority text*/
.centerBox {
    margin-bottom: -9px;
    text-align: center;
}


/*It's a band-aid(tm) fix. Hehe*/
.glyphiconCenter {

    padding-left: 4px;
    padding-right: 2px;
}

@media screen and (max-device-width: 500px) {
    .mobileCompatable {
        width: 12em;
    }
}

/*Changes dropdown colors on hover*/
.colorSliderDropdown {
    background-color: lightgray;
}

.colorSliderDropdown:hover {
    background-color: darkgray;
}
