<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-controller="AbstractbookCtrl" class="container-fluid">

  <tabset>
    <tab heading="Current Submission Abstracts" ng-click="setCurrent()"></tab>
    <tab heading="Past Submission Abstracts" ng-click="setPast()"></tab>
  </tabset>

  <br>

  <li class="list-group-item" ng-repeat="sub in submissions | orderBy : 'presentationType'" ng-show="checkTime(sub)">
                  <hr class="hrThickness">
                  <b>Presenter(s):</b> {{sub.presenterInfo.first}} {{sub.presenterInfo.last}}{{sub.copresenterOneInfo.first | isntEmpty:", ":""}} {{sub.copresenterOneInfo.last | isntEmpty:"":""}}{{sub.copresenterTwoInfo.first | isntEmpty:",":""}} {{sub.copresenterTwoInfo.last | isntEmpty:"":""}}
                  <br>
                  <b>Project Adviser:</b> {{sub.adviserInfo.first}} {{sub.adviserInfo.last}}{{sub.coadviserOneInfo.first | isntEmpty:",":""}}{{sub.coadviserOneInfo.last | isntEmpty:"":""}}{{sub.coadviserTwoInfo.first | isntEmpty:",":""}} {{sub.coadviserTwoInfo.last | isntEmpty:"":""}}
                  <br>
                  <b>Title: {{sub.title}}</b>
                  <br>
                  <b>Type of Presentation:</b> {{sub.presentationType}}
                  <br>
                  <br>
                  <p ng-bind-html="sub.abstract"></p>
            </li>
        <br>
        <br>
    </div>
</div>
